# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Virtual environments
env/
venv/
.venv/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Python virtual environment packaging
*.egg-info/
*.egg

# Local development
*.sqlite3
